body{
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#head{
    color: ghostwhite;
    margin-left: 20px;
    font-size: 18px;
}
#score{
    padding: 20px;
    border: 1px solid black;
    width: 4%;
}
#button{
    padding: 20px;
    border: 1 solid black;
    width: 10%;
}
